@page "/search"
@using EveryoneReads.Backend

<PageTitle>Search Books | Everyone Reads </PageTitle>


<style>

    body
    {
    background: linear-gradient(320deg, rgba(155,234,255,1) 0%, rgba(101,61,255,1) 0%, rgba(162,139,255,1) 100%);
    }
</style>


<h3 style="color:white">Search Books</h3>

<input @bind="SearchString" />
<br />
<br />
<input @bind="MatchExact" type="checkbox"> <span style="color:white">Match Exact Title</span>
<br />
<br />

<button type="button" class="btn btn-primary" @onclick=Searchbtn>Search</button>


@if (SearchResults != null)
{
    <div class="row row-cols-1 row-cols-sm-5 g-2">
        @foreach (var book in SearchResults)
        {
            @if (MatchExact)
            {
                if (!book.Title.ToLower().Contains(SearchString.ToLower()))
                {
                    continue;
                }
            }
            <div class="col">
            <div class="card">
                <div class="card-header">@book.Title (@book.Language)</div>
                
                <div class="card-body">
                    <div class="container">

                        <div class="row">
    <div class="col-6">
      <img src="@book.CoverURL" class="card-img-top" alt="@book.Title's cover" style="height:128;width:auto;object-fit:contain">
    </div>
    <div class="col">
      ISBN-13: @book.ISBN13
      <br>
      Publish Date: @book.PublishDate
      <br>
      Publisher: @book.Publisher
      <br>
      Authors:@string.Join(",",@book.Authors) 
    </div>
  </div>

                        </div>
                    
                    @*<p class="card-text">@book.Rating</p>*@
                </div>

                <div class="card-footer text-muted">
    @book.PublishDate
  </div>
            </div>
        </div>
        }
        
    </div>
}
@code {


    private static BookObj[] SearchResults = null;


    private string? SearchString { get; set; }
    private bool MatchExact { get; set; } = false;

    
    private async Task Searchbtn()
    {
        SearchResults = await BookObj.GetBook(SearchString);
       
    }

}
